server:
  port: 8080
spring:
  application:
    name: exam-app
  profiles:
    active: dev
  datasource:
    url: jdbc:h2:mem:examdb;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
logging:
  level:
    root: INFO
    com.exam: INFO
